SoC_project/Soc_MemoryMap.csv
SoC_project/__pycache__/nexys4ddr.cpython-38.pyc
SoC_project/build/nexys4ddr/gateware/.Xil/nexys4ddr_propImpl.xdc
SoC_project/build/nexys4ddr/gateware/nexys4ddr.bit
SoC_project/build/nexys4ddr/gateware/nexys4ddr.cache/wt/synthesis.wdf
SoC_project/build/nexys4ddr/gateware/nexys4ddr.v
SoC_project/build/nexys4ddr/gateware/nexys4ddr.xdc
SoC_project/build/nexys4ddr/gateware/nexys4ddr.xpr
SoC_project/build/nexys4ddr/gateware/nexys4ddr_clock_utilization.rpt
SoC_project/build/nexys4ddr/gateware/nexys4ddr_control_sets.rpt
SoC_project/build/nexys4ddr/gateware/nexys4ddr_drc.rpt
SoC_project/build/nexys4ddr/gateware/nexys4ddr_io.rpt
SoC_project/build/nexys4ddr/gateware/nexys4ddr_power.rpt
SoC_project/build/nexys4ddr/gateware/nexys4ddr_route.dcp
SoC_project/build/nexys4ddr/gateware/nexys4ddr_route_status.rpt
SoC_project/build/nexys4ddr/gateware/nexys4ddr_timing.rpt
SoC_project/build/nexys4ddr/gateware/nexys4ddr_timing_synth.rpt
SoC_project/build/nexys4ddr/gateware/nexys4ddr_utilization_hierarchical_place.rpt
SoC_project/build/nexys4ddr/gateware/nexys4ddr_utilization_hierarchical_synth.rpt
SoC_project/build/nexys4ddr/gateware/nexys4ddr_utilization_place.rpt
SoC_project/build/nexys4ddr/gateware/nexys4ddr_utilization_synth.rpt
SoC_project/build/nexys4ddr/gateware/usage_statistics_webtalk.html
SoC_project/build/nexys4ddr/gateware/usage_statistics_webtalk.xml
SoC_project/build/nexys4ddr/gateware/vivado.jou
SoC_project/build/nexys4ddr/gateware/vivado.log